---
import MainLayout from "../../../layouts/MainLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("zhblog"); 
  return posts.map(post => ({
    params: {id: decodeURI(post.id)},
    props: {post},
  }));   
};

const {post} = Astro.props;
const {Content} = await render(post)
---

<MainLayout>
  <div class="container mx-auto py-4">    
    <h1>{post.data.title}</h1>
    <article class="prose prose-lg max-w-none">
      <Content />
    </article>
</div>
</MainLayout>